.App {
  text-align: center;
}

.header {
  text-align: center;
  padding: 1rem;
  background-color: #e9ecef;
  position: sticky;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.09);
}

.country-selector {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.content {
  padding: 2%;
}

.register-button {
  display: grid!important
}

.more-information {
  padding-top: 5%;
}

.empty-list {
  text-align: center;
  padding: 10%;
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #e9ecef;
  position: sticky;
  bottom: 0;
  left: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.scroll-col {
  overflow-y: scroll;
}

.user-card {
  padding: 0.5rem;
}

.terms-policy {
  justify-content: flex-end;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .user-card{ 
    animation: user-card-appear 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes user-card-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
