.background {
  background-color: #f5f5f5;
}

.App {
  text-align: center;
}

.header {
  color: #ebf0f4;
  text-align: center;
  padding: 1rem;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  
  position: sticky;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  box-shadow:  1px 6px 8px -1px rgb(0 0 0 / 20%);
}

.h2-custom {
  color: #0f395C
}

.h4-custom {
  color: #7994ac; 
  padding-bottom: 4%;
}

.label-custom {
  color: #042947
}

.button-custom {
  color: #fff;
  background-color: #0093E9;
  border-color: #0093E9;
  margin-bottom: 2%;
}

btn-primary:hover {
  color: #fff;
  background-color: #80D0C7;
  border-color: #80D0C7;
}

.link-custom {
  color: #ebf0f4;
}

.country-selector {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.content {
  padding: 2%;
}

.register-button {
  display: grid!important;
  padding-bottom: 2,5%;
}

.more-information {
  padding-top: 5%;
}

.empty-list {
  text-align: center;
  padding: 10%;
  
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);  
  position: sticky;
  bottom: 0;
  left: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  box-shadow: 1px -6px 8px -1px rgb(0 0 0 / 20%);
  
}


.card_ {
  padding: 0.5rem;
}

.user-card {
  width: auto;
  background-color: #fff8dc;
  color: #0f395c;
  box-shadow: 6px 4px 9px 2px rgb(0 0 0 / 10%);
}

.terms-policy {
  justify-content: flex-end;
}
.footer-btns-l{
  float: right!important;
}


.App-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .user-card { 
    animation: user-card-appear 1s linear;
  }

  .box-fade {
    animation: box-appear 500ms linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes user-card-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes box-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 80;
  }
}

@media only screen and (max-width: 766px) {

.terms-policy {
  justify-content: center;
  flex-direction: column-reverse;
}

.footer-btns{
  display: flex;
  justify-content: center;
}

}

@media only screen and (max-width: 990px) {

.user-grid {
  margin-top: 3%;
}

}